<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>deposit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid p-0 m-0">
        <!-- ROW 1-->
        <div class="row bg-dark d-flex flex-row align-items-center justify-content-center p-0 m-0">
          <div class="col p-0 m-0">
              <div class="row bg-secondary" style="height: 60px">
                <div class="col">
                    <div class="p-0 m-0">
                    <img src="/images/logo.jpg" width="100%" height="60px">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between p-0 m-0" style="height: 60px;">
          <a th:href="@{/api/newuser}"><div class="col-1 text-light">Account</div></a>
          <a th:href="@{/api/home}"><div class="col-1 text-light">Home</div></a>
           <a th:href="@{/api/transfermoney}"><div class="col text-light">money transfer</div></a>
          <a th:href="@{/api/withdraw}"><div class="col-1 text-light">withdraw</div></a>
          <a th:href="@{/api/deposit}"><div class="col-1 text-light">deposit</div></a>
          <a th:href="@{/api/checkbalace}"><div class="col text-light">check balance</div></a>
          <a th:href="@{/api/userreg}"><div class="col text-light d-flex justify-content-end">
            registration
          </div></a>
          <a th:href="@{/login}"><div class="col text-light d-flex justify-content-end">
            login
          </div></a>
          <a th:href="@{/logout}"><div class="col text-light d-flex justify-content-end p-2">
            Logout
          </div></a>
        </div>
        <div class="row" style="background-image:url(/images/img4.jpg); min-height: 900px; background-position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;">
        
        <form style="position: absolute;
          left: 300px;
          margin: 20px;
          width : 600px;
          padding: 16px;
          background-color: white;" th:action="@{/api/otp}"  method="post" >
        <div class="m-0 p-0 bg-dark text-light text-center d-flex align-items-center justify-content-center" style="height: 50px; font-size: 25px;">Otp verify</div>
            
            <div class="form-group mt-4">
              <input type="hidden" name="firstName" class="form-control" id="firstName" th:value="${session.firstName}" aria-describedby="emailHelp" placeholder="Enter First Name">  
				<div><span id="nameerror"></span></div>
            </div>
              <div class="form-group mt-4">
              <input type="hidden" name="lastName" class="form-control" id="lastName" th:value="${session.lastName}" aria-describedby="emailHelp" placeholder="Enter last Name">  
				<div><span id="emailerror"></span></div>
            </div>
              <div class="form-group mt-4">
              <input type="hidden" name="email" class="form-control" id="email" th:value="${session.email}" aria-describedby="emailHelp" placeholder="Enter email">  
				<div><span id="courseerror"></span></div>
            </div>
              <div class="form-group mt-4">
              <input type="hidden" name="contact" class="form-control" id="contact" th:value="${session.contact}" aria-describedby="emailHelp" placeholder="Enter contact">  
				<div><span id="brancherror"></span></div>
            </div>
              <div class="form-group mt-4">
              <input type="hidden" name="aadharNumber" class="form-control" id="contact" th:value="${session.aadharNumber}" aria-describedby="emailHelp" placeholder="Enter aadhar number">  
				<div><span id="contacterror"></span></div>
            </div>
            
            <div class="form-group mt-4">
              <input type="hidden" name="gender" class="form-control" id="contact" th:value="${session.gender}" aria-describedby="emailHelp" placeholder="Enter aadhar number">  
				<div><span id="contacterror"></span></div>
            </div>
            
             <div class="form-group mt-4">
              <input type="hidden" name="dob" class="form-control" id="contact" th:value="${session.dob}" aria-describedby="emailHelp" placeholder="Enter aadhar number">  
				<div><span id="contacterror"></span></div>
            </div>
            
            
              <div class="form-group mt-4">
              <input type="hidden" name="panNumber" class="form-control" id="panNumber" th:value="${session.panNumber}" aria-describedby="emailHelp" placeholder="Enter pan number">  
				<div><span id="courseerror"></span></div>
              </div>
             
              <div class="form-group mt-4">
              <input type="hidden" name="accountType" class="form-control" id="contact" th:value="${session.accountType}" aria-describedby="emailHelp" placeholder="Enter account type">  
				<div><span id="contacterror"></span></div>
            </div>
            
         <div class="form-group mt-4">
              <input type="number" name="otp" class="form-control" id="otpverify" aria-describedby="emailHelp" placeholder="Enter otp">  
				<div><span id="otpverifyererror"></span></div>
            </div>
        <div>
        <button type="submit" class="btn btn-primary">send</button>
        </div>
        </form>
        
        
        </div>
        
      </div>
    </div>
      
   </div>
      
</body>
</html>