<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account Opening Page</title>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<style>
  .required:after {
    content:" *";
    color: red;
  }
</style>


</head>
<body>

     <div class="container-fluid p-0 m-0" style="height: 100vh">
        <!-- ROW 1-->
        <div class="row bg-dark d-flex flex-row align-items-center justify-content-center p-0 m-0">
          <div class="col p-0 m-0" style="height: 1000px;">
            <div class="">
              <div class="row bg-secondary" style="height: 60px;">
                <div class="col">
                    <div class="p-0 m-0">
                    <img src="/images/logo.jpg" width="100%" height="60px">
                    </div>
                </div>
               </div>
            <div class="d-flex flex-row align-items-center justify-content-between p-0 m-0" style="height: 60px;">
          <a th:href="@{/api/newuser}"><div class="col-2 text-light">Account</div></a>
          <a th:href="@{/api/home}"><div class="col-1 text-light">home</div></a>
           <a th:href="@{/api/transfermoney}"><div class="col text-light">money transfer</div></a>
          <a th:href="@{/api/withdraw}"><div class="col-1 text-light">withdraw</div></a>
          <a th:href="@{/api/deposit}"><div class="col-1 text-light">deposit</div></a>
          <a th:href="@{/api/checkbalace}"><div class="col text-light">check balance</div></a>
          <a th:href="@{/api/userreg}"><div class="col text-light d-flex justify-content-end">
            registration
          </div></a>
         <a th:href="@{/login}"><div class="col text-light d-flex justify-content-end">
           login
          </div></a>
          <a th:href="@{/logout}"><div class="col text-light d-flex justify-content-end p-2">
            Logout
          </div></a>
        </div>
        </div>
        <div class="row" style="background-image:url(/images/img4.jpg); min-height: 900px; background-position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;">
        
          <form style="position: absolute;
          left: 300px;
          margin: 20px;
          width : 600px;
          padding: 16px;
          background-color: white;" th:action="@{/api/savereguser}" method="post" id="createaccount">
          <div class="m-0 p-0 bg-dark text-light text-center d-flex align-items-center justify-content-center" style="height: 50px; font-size: 25px;">Registration Form</div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">Customer Id</label>
              <input type="text" name="customer.customerId" class="form-control" id="customerid" aria-describedby="emailHelp" placeholder="Enter Customer Id"
              required
               oninvalid="this.setCustomValidity('Enter Customer Id')"
               oninput="this.setCustomValidity('')">  
				<div><span id="customererror"></span></div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">User Name</label>
              <input type="text" name="userName" class="form-control" minlength="3" maxlength="20" id="username" aria-describedby="emailHelp" placeholder="Enter User Name"
               required
               oninvalid="this.setCustomValidity('Enter User Name')"
  oninput="this.setCustomValidity('')">  
   <div><span id="username"></span></div>
            </div>
            

            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">Password</label>
              <input type="password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password" placeholder="Enter Password"
              required
               oninvalid="this.setCustomValidity('Enter password')"
  oninput="this.setCustomValidity('')">
              <div><span id="passworderror"></span></div>
            </div>

             <button type="submit" class="btn btn-primary">Registration</button></a>
            <button type="reset" class="btn btn-primary">Reset</button>
           
          </form>
      </div>
          
      </div>
    </div>
    
    </div>
    <script type="text/javascript">
      $(document)
		.ready(
		function() {
		
		$("#customererror").hide();

		
		var emailerror = false;
		
		
		function validateemail() {

			var val = $("#customerid").val();
			var exp=/^[0-9]*$/;

			if(!exp.test(val))
			{
			$("#customererror").show();
			$("#customererror").html(
			"<b>Enter valid customer Id<b>");
			$("#customererror").css('color', 'red')
			customererror = false;
			}  
			else {
				$.ajax({
					url:"/api/customeridcheck",
					data : {
						customerId:val
						},
						success:function(data)
						{
							if(data=="")
								{
								$("#customererror").hide();
								emailError=true;
								}
							else
								{
                                 $("#customererror").show();
                                 $("#customererror").html(data);
                                 $("#customererror").css(
                                         "color","red"
                                         );
                                 customererror=false;
								}
			        },
						
				});
			
		}
		}
		
		$("#emailid").change(function() {
		
			validateemail();
			
		});
	
		$("#createaccount").submit(function(){
			validateemail();
			
		});
		if (emailerror){
			return true;
			}else
			{
			return false;
			}
		
		
		});
		</script>
</body>
</html>
