<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account Opening Page</title>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<style>
  .required:after {
    content:" *";
    color: red;
  }

</style>


</head>
<body>

     <div class="container-fluid p-0 m-0" style="height: 100vh">
        <!-- ROW 1-->
        <div class="row bg-dark d-flex flex-row align-items-center justify-content-center p-0 m-0">
          <div class="col p-0 m-0" style="height: 1000px;">
        <div class="row" style="background-image:url(/images/img4.jpg); min-height: 900px; background-position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;">
        
          <form style="position: absolute;
          left: 300px;
          margin: 20px;
          width : 600px;
          padding: 16px;
          background-color: white;" th:action="@{/api/savecustomer}" method="post" id="createaccount">
          <div class="m-0 p-0 bg-dark text-light text-center d-flex align-items-center justify-content-center" style="height: 50px; font-size: 25px;">Customer detail</div>
            
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">First Name</label>
              <input type="text" name="firstName" class="form-control" id="firstname" maxlength="15" minlength="3" aria-describedby="emailHelp" placeholder="Enter First Name"
              required
               oninvalid="this.setCustomValidity('Enter First Name')"
               oninput="this.setCustomValidity('')">  
				<div><span id="firstnameerror"></span></div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="required">Last Name</label>
              <input type="text" name="lastName" class="form-control"  id="lastname" aria-describedby="emailHelp" placeholder="Enter Last Name"
              required
               oninvalid="this.setCustomValidity('Enter First Name')"
               oninput="this.setCustomValidity('')"> 
               <div><span id="lastnameerror"></span></div> 
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="required">Gender</label>
              <div class="form-check d-flex justify-content-start p-0 m-0">
              <div class="form-check">
                <input class="form-check-input" name="gender" type="radio" id="gender" value="male" required>
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="gender" type="radio" id="gender" value="female">
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
            </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">Email address</label>
              <input type="text" name="email" class="form-control" id="emailid" placeholder="name@example.com"
               >
              <div><span id="emailerror"></span></div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">Contact</label>
              <input type="text" name="contact" class="form-control" id="contact" placeholder="Enter contact"
              >
   <div><span id="contacterror"></span></div>
            </div>
            
            <div class="form-group">
		    <label for="exampleFormControlTextarea1" class="required" >Address</label>
		    <textarea class="form-control" name="address" minlength="10" maxlength="50" id="address" rows="3" 
                placeholder="Enter Address"></textarea>
                 <div><span id="addresserror"></span></div>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">Date Of Birth</label>
              <input type="date" class="form-control" name="dob"  id="dob" placeholder="Enter date of birth"
             required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">aadhar number</label>
              <input type="text" class="form-control"  name="aadharNumber"  id="aadhar" placeholder="Enter aadhar number"
              >
              <div><span id="aadharerror"></span></div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">Pan Number</label>
              <input type="text" class="form-control" name="panNumber"  id="pannumber" placeholder="Enter pan Number"
              >
              <div><span id="pannumbererror"></span></div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1" class="required">account type</label>
              <select class="form-select pt-1 mb-1" name="accountType" id="accounttype" aria-label="Default select example" required>
                <option disabled selected value>select an option</option>
                <option name="accountType" value="Saving Account">Saving Account</option>
                <option value="salary account" name="accountType">Salary Account</option>
                <option value="Current Account" name="current Account">Current Account</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Open Account</button>
            <button type="reset" class="btn btn-primary">Reset</button>
          </form>
      </div>
          
      </div>
    </div>
    
    </div>
    
    <script type="text/javascript">
    $(document)
	.ready(
			function() {
				$("#firstnameerror").hide();
				$("#lastnameerror").hide();
				$("#emailerror").hide();
				$("#contacterror").hide();
				$("#addresserror").hide();
				$("#aadharerror").hide();
				$("#pannumbererror").hide();

				var firstnameError = false;
				var lastnameError = false;
				var emailerror=false;
				var contacterror=false;
				var addresserror=false;
				var aadharerror=false;
				var pannumbererror=false;

				function validateFirstName() {
					//read input
					var val = $("#firstname").val();
					var firstnameexp=/^[A-Za-z]*$/;
					
					if (val == '') {
						$("#firstnameerror").show();
						$("#firstnameerror").html(
								"<b>Enter first name</b>");
						$("#firstnameerror").css('color', 'red');
						firstnameerror = false;
					}else if(!firstnameexp.test(val))
					{
						$("#firstnameerror").show();
						$("#firstnameerror").html(
								"<b>enter only alphabates in first name</b>");
						$("#firstnameerror").css('color', 'red');
						firstnameerror = false;
						}  	 
					else {
						$("#firstnameerror").hide();
						firstnameerror = true;
					}
					return firstnameerror;
				}

				function validateLastName() {
					//read input
					var val = $("#lastname").val();
					var lastnameexp=/^[A-Za-z]*$/;
					if (val == '') {
						$("#lastnameerror").show();
						$("#lastnameerror").html(
								"<b>Enter last name</b>");
						$("#lastnameerror").css('color', 'red');
						lastnameerror = false;
					}else if(!lastnameexp.test(val))
					{
						$("#lastnameerror").show();
						$("#lastnameerror").html(
								"<b>enter only alphabates in lastname</b>");
						$("#lastnameerror").css('color', 'red');
						lastnameerror = false;
						}  	 
					else {
						$("#lastnameerror").hide();
						lastnameerror = true;
					}
					return lastnameerror;
				}


				function validateEmailAddress() {
					//read input
					var val = $("#emailid").val();
					var emailexp=/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					
					if (val == '') {
						$("#emailerror").show();
						$("#emailerror").html(
								"<b>Enter valid email id</b>");
						$("#emailerror").css('color', 'red');
						emailerror = false;
					}else if(!emailexp.test(val))
					{
						$("#emailerror").show();
						$("#emailerror").html(
								"<b>enter valid email</b>");
						$("#emailerror").css('color', 'red');
						emailerror = false;
						}  	 
					else {
						$
						.ajax({
							url : "/api/emailcheck",
							data : {
								email : val
							},
							success : function(resTxt) {
								if (resTxt == "") {
									$("#emailerror").hide();
									emailerror = true;
								} else {
									$("#emailerror").show();
									$("#emailerror")
											.html(resTxt);
									$("#emailerror").css(
											"color", "red");
									emailerror = false;
								}
							},
						});
			}
			return emailerror;
		}
					

				function validateContact()
				{
					var val = $("#contact").val();
					var contactexp=/^\+?([0-9]{2})[-. ]\)?([0-9]{10})$/;
					
					if (val == '') {
						$("#contacterror").show();
						$("#contacterror").html(
								"<b>Enter valid contact number</b>");
						$("#contacterror").css('color', 'red');
						contacterror = false;
					}else if(!contactexp.test(val))
					{
						$("#contacterror").show();
						$("#contacterror").html(
								"<b>enter valid contact</b>");
						$("#contacterror").css('color', 'red');
						emailerror = false;
						}  	 
					else {
						$("#contacterror").hide();
						contacterror = true;
					}
					return contacterror;

					}

				function validateAddress() {
					//read input
					var val = $("#address").val();
					
					if (val == '') {
						$("#addresserror").show();
						$("#addresserror").html(
								"<b>Enter valid address</b>");
						$("#addresserror").css('color', 'red');
						addresserror = false;
					}  	 
					else {
						$("#addresserror").hide();
						addresserror = true;
					}
					return addresserror;
				}

				function validateAadhar() {
					//read input
					var val = $("#aadhar").val();
					var aadharexp=/^[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}$/;
					
					if (val == '') {
						$("#aadharerror").show();
						$("#aadharerror").html(
								"<b>Enter aadhar number</b>");
						$("#aadharerror").css('color', 'red');
						aadharerror = false;
					}else if(!aadharexp.test(val))
					{
						$("#aadharerror").show();
						$("#aadharerror").html(
								"<b>enter valid aadhar number</b>");
						$("#aadharerror").css('color', 'red');
						aadharerror = false;
						}  	 
					else {
						$("#aadharerror").hide();
						aadharerror = true;
					}
					return aadharerror;
				}
				
				
				function validatePanNumber() {
					//read input
					var val = $("#pannumber").val();
					var pannumberexp=/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
					
					if (val == '') {
						$("#pannumbererror").show();
						$("#pannumbererror").html(
								"<b>Enter Pan number</b>");
						$("#pannumbererror").css('color', 'red');
						pannumbererror = false;
					}else if(!pannumberexp.test(val))
					{
						$("#pannumbererror").show();
						$("#pannumbererror").html(
								"<b>enter valid pan number</b>");
						$("#pannumbererror").css('color', 'red');
						pannumbererror = false;
						}  	 
					else {
						$("#pannumbererror").hide();
						pannumbererror = true;
					}
					return pannumbererror;
				}
				

				$("#createaccount").submit(
						function() {
							validateFirstName();
						    validateLastName();
						    validateEmailAddress();
						    validateContact();
						    validateAddress();
						    validateAadhar();
						    validatePanNumber();
						
							if (firstnameerror && lastnameerror && emailerror && contacterror
									 && addresserror && aadharerror && pannumbererror)  {
								return true;
							} else {
								return false;
							}
						});

				$("#firstname").keyup(
						function() {
							validateFirstName();
						
						});

				$("#lastname").change(
						function() {
							validateLastName();
						});
				$("#emailid").keyup(
						function() {
							validateEmailAddress();
						});

				$("#contact").keyup(
						function() {
							validateContact();
						});

				$("#aadhar").keyup(
						function() {
							validateAadhar();
						});

				$("#pannumber").keyup(
						function() {
							validatePanNumber();
						});
	           
			});

    </script>
      
</body>
</html>
